@page
@model SkiveCollegeMotion.Pages.Brugere.RedigerModel

@{
    ViewData["Title"] = "Rediger";
}

<h2>Rediger</h2>

<h4>Bruger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bruger.Fornavn" class="control-label"></label>
                <input asp-for="Bruger.Fornavn" class="form-control" />
                <span asp-validation-for="Bruger.Fornavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bruger.Efternavn" class="control-label"></label>
                <input asp-for="Bruger.Efternavn" class="form-control" />
                <span asp-validation-for="Bruger.Efternavn" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Bruger.UserName" />
            <div class="form-group">
                <label asp-for="Bruger.Email" class="control-label"></label>
                <input asp-for="Bruger.Email" class="form-control" />
                <span asp-validation-for="Bruger.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
