@page
@model SkiveCollegeMotion.Pages.Tilmeld.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Tilmeld aktivitet</h2>

<div class="form-group">
    <form method="post">
        <fieldset>
            <legend></legend>
            <br />
            <div class="tilmeld">
                <br />
                @foreach (var item in Model.Aktivitet)
                {
                    @Html.RadioButtonFor(model => model.Valg, item.ID)
                    @Html.Label("   " + item.Navn + " (" + item.Antal + ")");
                    <br />
                }
            </div>
            <br />
            <input type="submit" value="Submit" class="btn btn-default" />
        </fieldset>
    </form>
</div>
@if (TempData["success"] != null)
{
    @Html.Label((string)TempData["Success"])
}
