@page
@model SkiveCollegeMotion.Pages.Admin.Elever.ImporterModel
@{
    ViewData["Title"] = "Importer";
}

<h2>Import</h2>

<h4>Elev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UploadedFile" class="control-label"></label>
                <input asp-for="UploadedFile" type="file" accept=".csv" class="form-control" />
                <span asp-validation-for="UploadedFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Importer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page=".">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
