/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #444;
    font-family: 'Fira Sans', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a {
    color: black;
}
header {
    
    padding:2em;
}
header img {
    max-height:150px;
}

.mainblue {
    background-color: #2865fa;
}

.maingreen {
    background-color: #02e5a9;
}

.btn {
    list-style-type: none;
}
    .btn li {
        margin: 10px;
        padding: 5px 20px;
        border: 1px solid #aaa;
        border-radius: 5px;
        background-image: linear-gradient(to top right, #2865fa, #02e5a9);
    }
        .btn li a {
            color: white;
            font-weight: bold;
            width: 100%;
        }
.btn-default {
    background-image: linear-gradient(to top right, #2865fa, #02e5a9);
    font-weight: bold;
    /*color: #444;*/
    color: white;
}
.navbar-brand {
    color: #484b4e;
    font-weight:bold;
    font-size:12px;
    text-transform:uppercase;
    text-align:center;
}
.navbar-brand img {
    height: 30px;
}
.navbar-toggle .icon-bar {
    background-color: #484b4e;
}
.navbar {
    background-color: rgba(255,255,255,0.85);
}
.navbar li a {
    font-weight: bold;
}
    .navbar li a:hover {
        background-image: linear-gradient(to top right, #2865fa, #02e5a9);
        color: white;
    }