@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Kongsvingervej 1 <br />
    7800 Skive <br />
    T: 99 14 92 00 <br />
    <br />
    Arvikavej 2B <br />
    7800 Skive <br />
    T: 99 14 14 14 <br />
</address>

<address>
    <strong>Ansvarlig:</strong> <a href="mailto:nbk@skivecollege.dk">nbk@skivecollege.dk</a><br />
    <strong>Support:</strong> <a href="mailto:mri@skivecollege.dk">mri@skivecollege.dk</a>
</address>
