@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <header>
        <img src="~/images/logo_color.svg" alt="Skive College" />
    </header>

<div class="row">
    <div class="col-md-3 mainblue">
        <a href="#"><h2>Elever</h2></a>
        <ul>
            <li><a href="#">Indlæs hold</a></li>
            <li><a href="#">Rediger elever</a></li>
        </ul>
    </div>
    <div class="col-md-3 secgreen">
        <a href="#"><h2>Aktiviteter</h2></a>
        <ul>
            <li><a href="#">Aktiviteter oversigt</a></li>
            <li><a href="#">Opret aktivitetet</a></li>
        </ul>
    </div>
    <div class="col-md-3 secblue">
        <a href="#"><h2>Resultat</h2></a>
        <ul>
            <li><a href="#">Tilmeldinger oversigt</a></li>
            <li><a href="#">Print oversigt</a></li>
        </ul>
    </div>
    <div class="col-md-3 maingreen">
        <a href="#"><h2>Brugere</h2></a>
        <ul>
            <li><a href="#">Bruger oversigt</a></li>
            <li><a href="#">Tilføj bruger</a></li>
        </ul>
    </div>
</div>
