@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <header>
        <img src="~/images/logo_color.svg" alt="Skive College" />
    </header>

<div class="row">
    <div class="col-md-3">
        <h2>Elever</h2>
        <ul class="btn">
            <li><a asp-page="./Admin/Elever/Importer">Indlæs hold</a></li>
            <li><a asp-page="./Admin/Elever/Index">Rediger elever</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Aktiviteter</h2>
        <a asp-page="./Aktiviteter/Index" class="mybutton">Rediger elever</a>
        <a asp-page="./Aktiviteter/Create" class="mybutton">Opret aktivitetet</a>
    </div>
    <div class="col-md-3">
        <h2>Resultat</h2>
        <a asp-page="#" class="mybutton">Tilmeldinger oversigt</a>
        <a asp-page="#" class="mybutton">Print oversigt</a>
    </div>
    <div class="col-md-3">
        <h2>Brugere</h2>
        <ul class="btn">
            <li><a asp-page="./Admin/Brugere/Index">Bruger oversigt</a></li>
            <li><a asp-page="./Admin/Brugere/Opret">Tilføj bruger</a></li>
        </ul>
    </div>
</div>


