@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<h3>Introduktion til cookie & privatlivspolitik</h3>
<p>Når du besøger vores website indsamles der nogle oplysninger om dig, som bliver brugt til at tilpasse og forbedre vores indhold. Hvis du ikke ønsker, at der indsamles oplysninger, så bør du slette dine cookies (se vejledning senere i dette dokument) samt undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.</p>

<h4>Udgiver</h4>
<p>
    Dette website ejes og publiceres af:
</p>
<p>
    Skive College<br />
    Arvikavej 2b<br />
    7800 Skive
</p><p>
    og
</p><p>
    Kongsvingervej 1<br />
    7800 Skive
</p>
<p>
    Vores webstedsadresse er: http://studyweb.dk
</p>

<h3>Hvilke personlige data vi indsamler og hvorfor vi indsamler det</h3>



<h4>Cookies</h4>
<p>Websitet anvender ”cookies”, der er en tekstfil, som gemmes på din computer, mobil el. tilsvarende med det formål at genkende den, huske indstillinger, udføre statistik og målrette annoncer. Cookies kan ikke indeholde skadelig kode som f.eks. virus.</p>

<table>
    <tr>
        <th>Anvendte Cookies</th>
        <th>levetid</th>
    </tr>
    <tr>
        <td>.AspNet.Consent</td>
        <td>1 år</td>
    </tr>
    <tr>
        <td>.AspNetCore.Antiforgery.pi8r8x8ce0E</td>
        <td>indtil du lukker browseren</td>
    </tr>
    <tr>
        <td>.AspNetCore.Identity.Application</td>
        <td>indtil du lukker browseren</td>
    </tr>
</table>
 
<h4>Generelt om Cookies</h4>
<p>Det er muligt at slette eller blokere for cookies. Se vejledning: http://minecookies.org/cookiehandtering </p>

<p>Hvis du sletter eller blokerer cookies vil du blive logget ud af siden.</p>

<h4>Sikkerhed</h4>
<p>Vi har truffet er række tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller ulovligt kunne blive bliver slettet, offentliggjort, fortabt, forringet eller kommer til uvedkommendes kendskab, misbruges eller i øvrigt behandles i strid med lovgivningen.</p>

<h4>Formål</h4>
<p>Oplysningerne bruges til at huske dine indstillinger, samt at identificere dig som bruger på siden.</p>
