@page
@model SkiveCollegeMotion.Pages.TilmeldModel
@{
    ViewData["Title"] = "Tilmeld";
}

<h2>Tilmeld aktivitet</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["success"] != null)
            {
                <label class="text-success">@((string)TempData["success"])</label>
            }
            <div class="form-group">
                <br />
                @foreach (var item in Model.Aktivitet)
                {
                    int remaining = await Model.GetRemainingAsync(item);
                    @Html.RadioButtonFor(model => model.Valg, item.ID, (remaining < 1) ? new { @disabled="disabled" } : null)
                    <label class="radio-label">@item.Navn (@remaining)</label>
                    <br />
                }
            </div>
            <br />
            <input type="submit" value="Tilmeld" class="btn btn-default" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}