@page
@model SkiveCollegeMotion.Pages.TilmeldModel
@{
    ViewData["Title"] = "Tilmeld";
}

<h2>Tilmeld aktivitet</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.DayCount; i++)
            {
                @if (TempData["success" + i] != null)
                {
                    <label class="text-success">@((string)TempData["success" + i])</label><br />
                }
            }
            @for (int i = 0; i < Model.DayCount; i++)
            {
                <div class="form-group">
                    <h4>
                        @Enum.GetName(typeof(Models.Tilmelding.Day), i)
                    </h4>
                    @foreach (var item in Model.Aktivitet)
                    {
                        int remaining = await Model.GetRemainingAsync(item, i);
                        @Html.RadioButtonFor(model => model.Valg[i], item.ID, (remaining < 1) ? new { @disabled = "disabled" } : null)
                        <label class="radio-label">@item.Navn (@remaining pladser tilbage)</label>
                        <br />
                    }
                </div>
            }
            <br />
            <input type="submit" value="Tilmeld" class="btn btn-default" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}